<form action="{{ path('add_game') }}" method="post" {{ form_enctype(form) }}>
    <h3>Formulaire </h3>
    <div>
        <div class="row">    
            <div class="col-md-6">
                {{ form_row(form.date) }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">{{ form_widget(form.gameTeams[0].team) }}</div>
            <div class="col-md-6">{{ form_widget(form.gameTeams[1].team) }}</div>
        </div>   
        <div  class="row">   
            <div class="col-md-6">{{ form_widget(form.gameTeams[0].nbGoals) }}</div>
            <div class="col-md-6">{{ form_widget(form.gameTeams[1].nbGoals) }}</div>
        </div>
        <div  class="row">   
            <div class="col-xs-12">{{ form_errors(form.gameTeams) }}</div>
        </div>
        
        <div class="row">
             <div class="col-xs-4 col-xs-offset-4">
                <button type="submit" class="btn btn-primary btn-lg btn-block">Ajouter</button>
            </div>
        </div>
        {{ form_rest(form) }}
    <div>
</form>   